.titre{
    background-color: var(--dark---green);
}
a{
    text-decoration: none;
    text-color: innherit;
}

h1{
    font-family: 'OPTICopperplate' ;
}

p{
    font-family: 'Avenir_LT_Pro' ;
    padding: 20px;
}