.header {
  position: block;
  background-color: var(--dark---green);
  z-index: 100;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  max-width: 100%;
  padding: var(--space2x) var(--space3x);
  z-index: 100;
}

.header__end {
  display: flex;
  gap: var(--space1x);
}

.header__logo{
  display: block;
}
.header__menu-btn {
  decoration: none;
}