.article{
    width: 100%;
    height: 100%;
}

.article__img{
    position: relative;
    item-align: center;
    max-width: 80vw;
    max-height: 80%;
    margin: 28.5px;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.25);
}

.article__img--description{
    margin-top: -20px;
    margin-left: 20px;
}