.card{
    item-align: center;
}

.card__title{
    text-align: center;
}

.card__img{
    object-fit: cover;
}

.card__btn{
    display: flex;
    width: 90vw;
    align-items: center;
    margin-left: 30%;
    margin: 0 ;
    padding: 10px;
    border-radius: 5px;
}

.card__btn img {
    width: 20%;
    margin-right: 15%;
    margin-left: 15%;
}
.card__btn--text{}