.card{
    item-align: center;
}

.card__title{
    text-align: center;
}

.card__img{
    object-fit: cover;
}

.card__btn{
    display: block;
    width: 80vw;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
}

.card__btn img {
    width: 30%;
}