.titre{
    width: 100%;
    posiition: relative;
    margin-top: -2px;
    padding-top: 100px;
    background-color: var(--dark---green);
}

.titre q{
    position: relative;
    item-align: center;
    color: var(--white);
    margin: 10%;
}
.titre h5 {
    position: relative;
    color: var(--white);
    margin-top:8%;
    margin-left: 70%;

}
.replica__icone{
    display: flex;
    item-align: center;
    margin-top: 50%;
    width: 10vw;
    height: 10vh;
    object-fit: cover;
}
.replica__iconebloc{
    margin-left: 50vw;
}
